div{
    height:500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
       
}
.excel{
    width: 50px;
    height: 50px;
    background-color: black;
}
.body{
    background-color: white;
}
.food{
    background-color: brown;
}
.head{
    background-color: coral ;
}